.link {
  font-size: 16px;
  font-weight: 700;
  background-color: rgb(102, 224, 31);
  color: #fff;
	display: flex;
	align-items: center;
	user-select: none;
}

.link.active {
  border: 1px solid #fff;
  border-radius: 1rem;
  padding: 10px;
}
